.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main div {
  color: white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button {
  padding: 1rem;
  margin: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

.video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}